<div class="center">
  <h1>Stupid Coaching</h1>
  <p>Here is the answer of your coach</p>
  <h1><%= @answer %></h1>
  <img class="picture"
     src="<%= @img %>">
</div>
<div class="center">
  <a href="/ask"><button name="button" type="submit" class="btn btn-flat text" value="Ask">Ask another question to your coach !</button></a>
</div>
