<div class="center">
<h1>Stupid Coaching</h1>
<p>Ask your coach anything !</p>
  <form novalidate="novalidate" class="simple_form search" action="answer" accept-charset="UTF-8">
    <div class="search-form-control form-group">
      <input class="form-control string required text" type="text" placeholder="Ask something to your coach..." name="question">
      <button name="button" type="submit" class="btn btn-flat text" value="Ask">Ask your question !</button>
      </button>
    </div>
  </form>
</div>
